{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Resiliência Angolana</title>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Raleway" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="page-header">Resiliência Angolana</h1>
    </header>

    <form action="">
        <div class="container">
            <h2>Deixe-nos o seu contacto</h2>
            <p>Queremos enviar todas atualização directamente para você</p>
        </div>

        <div class="container" style="background-color:white">
            <input type="text" placeholder="WhatsApp" name="phone" required>ou
            <input type="text" placeholder="Email" name="mail">
        </div>

        <div class="container">
            <input type="submit" value="Subscrever">
        </div>
    </form>
    <div class="link-to-podcast">
        <h4><a href="https://anchor.fm/fernando-livongue">Não, deixa-me apreciar primeiro >></a> </h4>
    </div>
</body>

</html>